*{
    box-sizing: border-box;
    margin: 0;padding: 0;outline: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw; height: 100vh;
    background: linear-gradient(to top right, rgb(255, 68, 0), orange);
    display: flex;
    flex-direction: column;
    align-items: center; justify-content: center;
}


#hours{
    width: 34vw; height: 34vw;
    text-align: center; line-height: 34vw;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    font-size: 24vw;
    border-radius: 1.5vw;
    position: fixed;
    bottom: 55vh; left: 15vw;
}

#minutes{
    width: 30vw; height: 30vw;
    text-align: center; line-height: 30vw;
    background-color: rgba(255, 255, 255, 0.4);
    color: #000;
    font-size: 18vw;
    border-radius: 1.5vw;
    position: fixed;
    bottom: 55vh; left: 55vw;
}

#seconds{
    width: 36vw; height: 10vw;
    text-align: center; line-height: 10vw;
    background-color: rgba(255, 0, 0);
    color: #fff;
    font-size: 8vw;
    border-radius: .7vw;
    position: fixed;
    bottom: 45vh; right: 20vw;
    font-family: consolas;
}

#switch{
    width: 20vw; height: 20vw;
    text-align: center; line-height: 20vw;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.6);
    font-size: 9vw;
    font-weight: bold;
    border-radius: 1vw;
    position: fixed;
    bottom: 25vh; right: 40vw;
    cursor: pointer;
}

h3{
    text-align: center;
    font-size: 2vw;
    position: fixed;
    bottom: 15vh;
    color: #fff;
}